/* variables */
:root{
    --titulo-font-fam : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --subtit-font-fam : 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --navlink-font-fam: 'Courier New', Courier, monospace;
}

